//******************** Блок добавления нового пользователя ***************//
.field-new-user-top {
  padding-left: 15px;
  border: 1px solid #cfe9c6;
  border-radius: 8px;
  background-color: #cfe9c6;
  p {
    text-transform: uppercase;
    color: #537457;
  }

}

// Стили формы добавления нового пользователя
.field-new-user-form {
  margin-top: 20px;
  input {
    outline:0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cacbcd;
  }
  label {
    font-weight: bold;
  }

}

// Стили кнопки добавить
.field-btn-create {
  margin-top: 5px;
  button {
    color: #2f2f37;
    cursor: pointer;
    outline: 0;
    width: 395px;
    height: 34px;
    border: 1px solid #e7e7e7;
    background-color: #f5f5f5;
    border-radius: 5px;
  }

}

//******************************************-------------*****************//